body {
	letter-spacing: 0.4px;
	background-color: #25252a;
	background-image: linear-gradient(
		to right top,
		#111011,
		#1c1b1d,
		#25252a,
		#2c3037,
		#333c44);
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.heading {
	white-space: nowrap;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 70px;
	user-select: none;
	margin-top: 50px;
	margin-bottom: 10px;
	text-shadow:
		0 0 5px #fff,
		0 0 10px #fff,
		0 0 15px #fff,
		0 0 20px rgb(0, 163, 213),
		0 0 35px rgb(3, 195, 238),
		0 0 40px rgb(3, 195, 238),
		0 0 50px rgb(3, 195, 238),
		0 0 75px rgb(3, 195, 238);
	-webkit-filter: blur(0);
}

.heading:hover {
	filter: blur(2px);
}

.profilePic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	min-height: 50px;
	border: 2px solid white;
	background-size: 50px;
	background-repeat: no-repeat;
	background-color: rgba(0,212,255,1);
	background-image: url("../assets/a.png");
}

.descriptionText {
	user-select: none;
	margin-top: 10px;
	width: 690px;
	font-size: 19px !important;
	margin-bottom: 20px;
	line-height: 29px;
}

#endpointsContainer {
	display: column;
	margin-bottom: 40px;
}

.req {
	color: rgba(255, 255, 255, 0.9);
	margin-right: 10px;
	user-select: none;
	font-size: 26px;
}

.route {
	font-size: 25px;
	margin: 0;
	white-space: nowrap;
	color: rgb(3, 195, 238);
	background: #333c44;
}

.desc {
	height: 50px;
	display: flex;
	font-size: 17px;
	user-select: none;
	margin-left: 20px;
	padding-left: 20px;
	align-items: flex-start;
	background: rgba(51, 60, 68, 0.4);
	border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.endpoint {
	display: flex;
	font-size: 35px;
	margin: 0;
	align-items: center;
	width: 1000px;
	margin: 2px;
	padding: 15px;
	background: #333c44;
}

.info {
	width: 500px;
	font-size: 22px;
	user-select: none;
	padding: 8px 25px 8px 25px;
	border: 4px solid rgb(3, 195, 238);
}

.bold {
	font-family: 'Fjalla One', sans-serif;
	white-space: nowrap;
	letter-spacing: 1px;
	font-size: 22px;
	text-transform: uppercase;
}

p {
	font-size: 20px;
	margin-top: 20px;
	white-space: nowrap;
	margin-bottom: 20px;
}

a {
	padding: 4px;
	font-weight: bold;
	text-decoration: none;
	background: #333c44;
	color: rgb(3, 195, 238);
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	white-space: nowrap;
	letter-spacing: 3px;
	font-size: 35px;
	text-transform: uppercase;
}